@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-item {
  color: black;
  font-size: 15px;
  display: block;
  border-radius: 0.25rem;
  padding: 10px 1rem;
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  gap: 5px;
}
.outlet {
  width: calc(100% - 240px);
  margin-left: auto;
}

header.header {
  width: calc(100% - 240px);
  margin-left: auto;
}
.nav-item:hover {
  color: #2563eb;
  background-color: #eff6ff;
}
.login-container {
  width: 100%;
  display: flex;
  align-items: center;
}
.section1 {
  width: 40%;
  height: 100vh;
}
.section2 {
  width: 100%;
  height: 100vh;
  padding: 0 20px;
}
.commonInput {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background-color: #f7fafc;
  width: 100%;
  font-size: 0.875rem;
  outline: 1px solid #333;
  border-radius: 0.125rem;
  transition: all 0.2s;
}

.commonInput:focus {
  background-color: transparent; /* focus:bg-transparent */
}

.filterInput {
  width: 216px;
  height: 40px;
  border: 1px solid #d3d3d3;
  border-radius: 8px;
  margin-right: 4px;
}
.search {
  display: flex;
  align-items: center;
  gap: 5px;
  border: 1px solid #d3d3d3;
  width: 221px;
}
.searchInput {
  width: 100%;
  height: 100%;
}
.searchIcon {
  background-color: #ff6363;
  border-radius: 10px;
  padding: 5px 7px;
  cursor: pointer;
}

.filtersSection {
  display: flex;
  align-items: center;
  gap: 5px;
}

.buttonOne {
  background: #3e3232bf;
  border-radius: 10px;
  width: 125px;
  height: 40px;
  margin-left: 2px;
}

.buttonTwo {
  background: #ff6d2f;
  border-radius: 10px;
  width: 127px;
  height: 43px;
  margin-left: 2px;
}
/* login css start */
.background-login {
  background: url(./assets/images/login-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #F2F2F2;
  height: 100vh;
  overflow: auto;
}
.login-form {
  background: #fff;
  padding: 20px;
  border-radius: 0px;
  box-shadow: 0 0 9px #cbcbcb;
  width: 100%;
}
.login-text-area {
  max-width: 584px;
  width: 100%;
  min-height: 84vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.login-logo img {
  width: 200px;
  margin: 0 auto;
  margin-top: 20px !important;
}
.login-text h2 {
  text-align: center;
  font-size: 27px;
  font-weight: 700;
  margin-top: 10px;
}
.login-text p {
  font-size: 18px;
  text-align: center;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 20px;
}

.login-para span {
  color: #067200;
  font-weight: 700;
}
.login-form .label {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
}
.login-form input {
  background: #F5F5F5;
  border-radius: 10px;
  margin-bottom: 10px;
}
.icon {
  position: absolute;
  bottom: 23px;
  right: 17px;
}
.position-relative {
  position: relative;
}
.forget-remember .form-check .form-check-label {
  font-size: 16px;
  font-weight: 400;
  margin-left: 4px;
}
.forget-remember {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.forget-remember .redirectLink a {
  color: #4BAF50;
}
.sign-in-button {
  background: #4BAF50;
  width: 100%;
  padding: 12px 0;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;
  margin-top: 30px;
}
.dont-account {
  color: #4BAF50;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}
.spacer {
  height: 70px;
}

.dont-account {
  color: #4BAF50;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}
.login-footer ul {
  display: flex;
  gap: 20px;
}
.login-footer {
  max-width: 800px;
    margin: 0 auto;
    position: relative;
}
.career-social-icon {
  display: flex;
  gap: 15px;
  margin-bottom: 8px;
}

.login-footer h4 {
  font-size: 16px;
  font-weight: 400;
}
.login-copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #000;
  padding-top: 20px;
  position: relative;
  width: 100%;
  max-width: 800px;
  margin-top: 20px;
  padding-bottom: 20px;
}
/* End login page css */

@media screen and (max-width: 576px)
{
  .spacer {
    height: 20px;
  }
  .login-copyright {
    flex-direction: column;
    gap: 10px;
    bottom: 0;
    align-items: center;
        justify-content: center;
  }
  .login-logo img {
    width: 170px;
    margin-top: 0px !important;
  }
  .login-text p {
    font-size: 14px;
}
.login-copyright {
  margin-top: 20px;
  position: relative;
}
.career-social-icon {
  align-items: center;
  justify-content: center;
}

}
@media screen and (max-width: 400px) {
  .forget-remember {
    flex-direction: column;
  }
  .login-copyright ul li {
    font-size: 14px;
    flex-wrap: wrap;
    white-space: nowrap;
}
}

